css的一些伪类和用法
<ol><li><strong>段落（标题）的第一个a:first-child &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二个：a:nth-child(2)</strong></li><li><strong>a:hover鼠标停留效果 &nbsp;a:link链接变色 &nbsp; &nbsp;a:visited 访问过的<br></strong></li></ol><p><br></p><p><span style="display: none; width: 0px; height: 0px;" id="transmark"></span><br></p>
2016-06-09 10:35:27
灯笼
灯笼专用
2016-06-09 10:41:48
测试
<p><strong>很饿</strong></p><h3>是否点击看看就</h3><h3>士多店</h3><p>sds</p><p>萨达</p>
2016-06-09 13:00:53
积分
<h1><strong>请问饿</strong></h1><h1>打的</h1><h3>去问问</h3><h3>请问饿</h3><p>&nbsp;我去恶趣味<span style="display: none; width: 0px; height: 0px;" id="transmark"></span></p>
2016-06-09 13:02:27
图片测试
<p><strong>这是一</strong><u>张图片</u></p><p style="margin-left: 20px;"><span class="fr-emoticon fr-deletable fr-emoticon-img" style="background: url(https://cdnjs.cloudflare.com/ajax/libs/emojione/2.0.1/assets/svg/1f61b.svg);">&nbsp;</span>&nbsp;<img class="fr-dib fr-draggable fr-fil" src="https://i.froala.com/download/cf8e63e48f77a1d1aad20f95d68b2855547f1d5a.jpg?1465482379" style="width: 200px; height: 192.667px;"><span style="display: none; width: 0px; height: 0px;" id="transmark"></span></p>
2016-06-09 22:26:5